env: dev
replicas: 2

antu:
  validation:
    additionalAllowedCodespaces:
      - xmlns: NSR
        xmlnsUrl: http://www.rutebanken.org/ns/nsr
      - xmlns: PEN
        xmlnsUrl: http://www.rutebanken.org/ns/pen
      - xmlns: NOG
        xmlnsUrl: http://www.rutebanken.org/ns/nog

gcp:
  blobstoreProjectId: en-antu-dev
  pubsubProjectId: ent-antu-dev

  marduk:
    bucketName: marduk-dev

  antu:
    bucketName: ror-antu-gcp2-dev
    exchangeBucketName: ror-antu-exchange-gcp2-dev

tiamatUrl: https://api.dev.entur.io/stop-places/v1

agreementRegistryUrl: https://api.entur.io/agreements/v1

interchangeWaitingTimeValidationEnabled: true
alightingAndBoardingValidationEnabled: true
interchangeServiceJourneyReferencesExistValidatorEnabled: true

baba:
  service: http://baba.dev.entur.internal

kafka:
  brokers: entur-kafka-test-ext-entur-test.aivencloud.com:11877
  registry: https://entur-kafka-test-ext-entur-test.aivencloud.com:11867
  changelogTopic: ror-stop-place-changelog-dev


auth0:
  partner:
    url: https://partner.dev.entur.org/
    audience: https://api.dev.entur.io,https://ror.api.dev.entur.io,https://portal.dev.entur.org

  client:
    tokenUri: https://partner.dev.entur.org/oauth/token
    clientId: 373j34zZk6PHDf1Ap2LPbOBiL1f5LGte
    orgregister:
      audience: https://api.dev.entur.io

  internal:
    clientId: qfkUHWPLnW5tcCdcqYAQSS8wwVkic9lH
    tokenUri: https://internal.dev.entur.org/oauth/token
    audience: https://api.dev.entur.io

roleAssignmentExtractor: baba

monitoringEnabled: true

ingress:
  domainName: .dev.entur.io

horizontalPodAutoscaler:
  project: ent-antu-dev
