env: prod
replicas: 2

antu:
  validation:
    additionalAllowedCodespaces:
      - xmlns: NSR
        xmlnsUrl: http://www.rutebanken.org/ns/nsr
      - xmlns: PEN
        xmlnsUrl: http://www.rutebanken.org/ns/pen

gcp:
  blobstoreProjectId: entur-ror-prod
  pubsubProjectId: ent-antu-prd

  marduk:
    bucketName: marduk-production

  antu:
    bucketName: ror-antu-gcp2-production
    exchangeBucketName: ror-antu-exchange-gcp2-production

tiamatUrl: https://api.entur.io/stop-places/v1

agreementRegistryUrl: https://api.entur.io/agreements/v1

interchangeWaitingTimeValidationEnabled: true
alightingAndBoardingValidationEnabled: true
interchangeServiceJourneyReferencesExistValidatorEnabled: true

baba:
  service: http://baba.prd.entur.internal

kafka:
  brokers: entur-kafka-prod-ext-entur-prod.aivencloud.com:14019
  registry: https://entur-kafka-prod-ext-entur-prod.aivencloud.com:14009
  changelogTopic: ror-stop-place-changelog-production

auth0:
  partner:
    url: https://partner.entur.org/
    audience: https://api.entur.io,https://ror.api.entur.io

  client:
    tokenUri: https://partner.entur.org/oauth/token
    clientId: ms08sY6rN2fjlNst881de632KNGyvgcY
    orgregister:
      audience: https://api.entur.io

  internal:
    clientId: yBQ4Gct1iVdU6zqtF5gwuEoy2cRtBcN0
    tokenUri: https://internal.entur.org/oauth/token
    audience: https://api.entur.io

roleAssignmentExtractor: baba


monitoringEnabled: false

ingress:
  domainName: .entur.io

horizontalPodAutoscaler:
  project: ent-antu-prd

