env: test
replicas: 2

antu:
  validation:
    additionalAllowedCodespaces:
      - xmlns: NSR
        xmlnsUrl: http://www.rutebanken.org/ns/nsr
      - xmlns: PEN
        xmlnsUrl: http://www.rutebanken.org/ns/pen

gcp:
  blobstoreProjectId: entur-ror-test
  pubsubProjectId: ent-antu-tst

  marduk:
    bucketName: marduk-test

  antu:
    bucketName: ror-antu-gcp2-test
    exchangeBucketName: ror-antu-exchange-gcp2-test

tiamatUrl: https://api.staging.entur.io/stop-places/v1

agreementRegistryUrl: https://api.staging.entur.io/agreements/v1

interchangeWaitingTimeValidationEnabled: true
alightingAndBoardingValidationEnabled: true
interchangeServiceJourneyReferencesExistValidatorEnabled: true

baba:
  service: http://baba.tst.entur.internal

kafka:
  brokers: entur-kafka-test-ext-entur-test.aivencloud.com:11877
  registry: https://entur-kafka-test-ext-entur-test.aivencloud.com:11867
  changelogTopic: ror-stop-place-changelog-staging

auth0:
  ror:
    url: https://ror-entur-staging.eu.auth0.com/
    audience: https://ror.api.staging.entur.io

  partner:
    url: https://partner.staging.entur.org/

  client:
    tokenUri: https://partner.staging.entur.org/oauth/token
    clientId: N2f2Hinou2m6JiCRw4mYWUd89eBm0Jbp
    orgregister:
      audience: https://api.staging.entur.io

  internal:
    clientId: LVDqz3RiLvDFNcGnq1hjdi2fg54b4TTu
    tokenUri: https://internal.staging.entur.org/oauth/token

roleAssignmentExtractor: baba

monitoringEnabled: true


ingress:
  domainName: .staging.entur.io

horizontalPodAutoscaler:
  project: ent-antu-tst

stopPlaceCacheRefreshCron: ?cron=0+0+03,14+?+*+*
